* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body.modal-open {
  overflow-y: hidden;
}

body,
input,
textarea,
button {
  font-family: Ubuntu;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
