* {
  margin: 0;
  padding: 0;
  outline:none;
  box-sizing: border-box;
}

body.modal-open{
  background-color: rgb(21, 32, 43);
  margin-right: 15px;
  overflow-y: hidden;
}

body, input, button { font-family: Ubuntu; }

li { list-style: none; }
a { text-decoration: none; }